<!-- <div [ngStyle]="{'min-width': radius * 2 + 'px', 'min-height': radius * 2 + 'px'}">
    <div class="parimeter" [ngStyle]="{'border-color': borderColor, 'width': radius * 2 + 'px', 'height': radius * 2 + 'px', 'border-radius': radius + borderWidth + 'px', 'border-width': borderWidth + 'px'}">
        <div class="drag-control" #rotationControl (wheel)="onMouseScroll($event)" (mousedown)="onMouseDown($event)" [ngStyle]="{'width': radius * 2 + 'px', 'height': radius * 2 + 'px'}">
            <div class="drag-control-rotation" #dragControl></div>
        </div>
    </div>
    <span class="value-preview {{valueContainerClass}}" [ngClass]="{'display-block': isRotating}" #valuePreview>{{angle}}</span>
</div> -->

<div [ngStyle]="{'min-width': radius * 2 + 'px', 'min-height': radius * 2 + 'px'}">
    <div class="parimeter" [ngStyle]="{'border-color': borderColor, 'width': radius * 2 + 'px', 'height': radius * 2 + 'px', 'border-radius': radius + borderWidth + 'px', 'border-width': borderWidth + 'px'}">
        <div class="drag-control" #rotationControl (wheel)="onMouseScroll($event)" (mousedown)="onMouseDown($event)" [ngStyle]="{'width': radius * 2 + 'px', 'height': radius * 2 + 'px'}">
            <div class="drag-control-rotation" #dragControl></div>
        </div>
        <span class="value-preview {{valueContainerClass}}" [ngClass]="{'display-block': isRotating}" #valuePreview></span><span class="text-preview">℃</span>
    </div>
</div>