.parimeter {
    border-width: 1px;
    border-style: solid;
    position: relative;
    background-color: blue;
}

.parimeter-center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 4px;
    height: 4px;
    border-radius: 10px;
}

.drag-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

.drag-control-rotation {
    position: absolute;
    left: calc(0px - 12px);
    bottom: calc(50% - 15px);
    // width: 10px;
    // height: 10px;
    // cursor: pointer;
        width: 0; 
        height: 0; 
        //border-left: 15px solid transparent;
        border-right: 15px solid blue;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
}

.value-preview {
    position: absolute;
    top: -10px;
    left: -50px;
    bottom: 0;
    right: 0;
    max-width: 30px;
    margin: auto;
    text-align: center;
    line-height: 25px;
    max-height: 25px;
    padding: 0px 2px;
    font-size: 40px;
    color: white;
    font-weight: 700;
}
.text-preview {
    position: absolute;
    top: -10px;
    left: 41px;
    bottom: 0;
    right: 0;
    max-width: 30px;
    margin: auto;
    text-align: center;
    line-height: 25px;
    max-height: 25px;
    padding: 0px 2px;
    font-size: 25px;
    color: white;
    font-weight: 400;
    transition: 0.5s;
    user-select: none;
}
.display-block,
.parimeter:hover .value-preview {
    display: block;
}


