.containerDiv{
    height: 700px;
    width: 400px;
    background-color: aliceblue;
}
.likeIcon{
    float:right;
    width:70px;
    height:70px;
    background-color: darkseagreen;
    border-radius: 50%;
    padding: 15px;
}
.icon{
    height: 35px;
}
.regulatorBar{
    width:100%;
    height:35%;
    //background-color: white;
    border-radius: 15px;
    position:relative;
    padding: 1.5em;
    text-align: center;
    top: 15%;
}
.controlBar{
    width:100%;
    height:25%;
    background-color: white;
    border-radius: 15px;
    position:relative;
    overflow: auto;
    padding: 1.5em;
    top: 25%;
}
.controlBarScroll{
    width:auto;
    height: 100%;
}
.uiControl{
    background-color: aqua;
    margin: 5px;
    border-radius: 10px;
    width:100px;
    height: 95px;
    display: inline-block;
    color:grey;
    padding-top: 15px;
    i,div{
        text-align: center;
        width: 100%;
    }
}
.selected{
    background-color: blue;
    color: white;
}