<div class="containerDiv p-4">
<div class="likeIcon"><img class="icon" [src]="img"/></div>
Welcome
<span><h3>Meeting Room 1</h3></span>
<div class="regulatorBar">
    <app-ui-regulator [angle]="angle" (angleChange)="angleChange($event)"
    valueContainerClass="regulator" [borderColor]="'blue'"
    [borderWidth]="'3'" radius="75" (onAngleChangeEnd)="afterAngleChange($event)">
    </app-ui-regulator>
</div>
<div class="controlBar">
    <div class="controlBarScroll" [ngStyle]= "{ 'width':((105*uiControls.length)+65) + 'px' }">
        <div class="uiControl" *ngFor="let control of uiControls" [ngClass]="{'selected': control.selected}" (click)="clickComponent($event,control)">
            <i class="{{ control.icon }} fa-3x" aria-hidden="true"> </i>
            <div>{{ control.key }}</div>
        </div>
    </div>
</div>
</div>
